#logo {
  width: 12.5rem;
}

@media (max-width: 600px) {
  #header {
    position: fixed;
    background: white;
    width: 100%;
    top:0;
    padding: 1rem ;
    left:0;
    z-index: 1000;
  }
  .app-container {
    margin-top:4rem;
  }
}